
  $background-color: #223b50;


  $font-color: rgba(255, 255, 255, 1);
  $font-color-light: rgba(255, 255, 255, 0.67);
  $font-color-very-light: rgba(255, 255, 255, 0.33);
  $neon:
  0 10px 10px rgba(0,0,0,0.5),
  0 0 1vw rgba(0,240,190,1),
  0 0 3vw rgba(0,210,255,0.9),
  0 0 5vw rgba(0,210,255,0.8),
  0 0 7vw rgba(0,210,255,0.7),
  0 0 9vw rgba(0,210,255,0.6),
  0 0 11vw rgba(0,210,255,0.5),
  0 0 13vw rgba(0,210,255,0.4),
  0 0 15vw rgba(0,210,255,0.3),
  0 0 17vw rgba(0,210,255,0.2);
  $header-height: 100px;

  //$font-size-small: 16px;

  $cubic-negative: cubic-bezier(.175, .885, .32, 1.2);
